@model BusinessAnalytic.Models.Entities.ProductVendor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card bg-light section Form">
    <div class="card-header">
        <h1>Product Vendor Details</h1>
    </div>
    <div class="p-lg-5">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AverageLeadTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AverageLeadTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StandardPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StandardPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastReceiptCost)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastReceiptCost)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastReceiptDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastReceiptDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MinOrderQty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MinOrderQty)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaxOrderQty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaxOrderQty)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OnOrderQty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OnOrderQty)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModifiedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BusinessEntity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BusinessEntity.AccountNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UnitMeasureCodeNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UnitMeasureCodeNavigation.UnitMeasureCode)
            </dd>
        </dl>
        <div>
            <div class="form-group text-white">
                <a class="btn bg-primary text-white" style="float: right; width: 300px; border-radius: 5px" asp-action="Edit" asp-route-id="@Model.ProductId"asp-route-id2="@Model.BusinessEntityId">Edit</a>
                <a class="btn bg-primary text-white" style="float: left; width: 300px;" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
