@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<BusinessAnalytic.Models.Entities.Product>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card bg-light p-lg-5 section">


    <h1>Products List</h1>

    <p>
        <a asp-action="Create" class="button">Create New Product</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ProductNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ListPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ListPrice)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@(item.ProductId)">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
</div>


